{% extends 'base.html.twig' %}

{% block pretitle %}{{ author.name|upper }}{% endblock %}

{% block body %}
    <main id="author">
        {% set image = (author.getLastProduct is not null and author.getLastProduct.getImages is not null) ? author.getLastProduct.getImages[0] : null %}
        <section id="left_section" style="background-image: url('{{ asset('images/products/' ~ author.id ~ '/' ~ image.name) }}')">
            <span>
                <a href="{{ path('show_authors') }}"><i class="fas fa-solid fa-caret-left"></i>  Revenir aux artistes</a>
            </span>
        </section>
        <section id="right_section">
            <div id="author_description">
                <h1>{{ author.name }}</h1>
                <h2>{{ author.description }}</h2>
            </div>
            <div id="author_products_container">
                {% if products is not null %}
                    {% for product in products %}
                        {% set imageName = product.getImages ? product.getImages[0].name : null %}
                        <article id="{{ product.id }}_product" class="author_product_container navto_container">
                            <a href="{{ path('show_product', {id: product.id}) }}" class="navto" style="display: none"></a>
                            <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ imageName) }}" class="author_product_image" alt="{{ product.name }} par {{ author.name }}">
                            <div id="{{ product.id }}_add2cart" class="btn-cart" href="#">
                                <p class="btn-cart_price"><i class="fas fa-shopping-cart"></i>  {{ product.price|number_format(2, '.', ',') }} €</p>
                                <p class="btn-cart_add">Ajouter</p>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock body %}

{% block javascripts %}
    {# Clickable sections script #}
    {{ encore_entry_script_tags('clickable_section') }}

    {# Switch background script #}
    {{ encore_entry_script_tags('background_switcher') }}

    {# Switch background script #}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}
