{% extends 'base.html.twig' %}

{% block pretitle %}PANIER{% endblock %}

{% block body %}
    <main id="cart">
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="warning">{{ flashMessage|nl2br }}</div>
        {% endfor %}

        <section id="cart_products_container">
            {# Si le panier n'est pas vide #}
            {% if cart is not empty %}
                {% for index in cart %}
                    {% set product, quantity = index.product, index.quantity %}
                    {% set author, image = product.author, product.images[0] %}
                    <article class="cart_product" id="{{ product.id }}_cart_product">
                        <button class="cart_product_remove"><i class="fa-solid fa-trash-can"></i></button>
                        <div class="cart_product_image_infos">
                            <div class="cart_product_image_container">
                                <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ image.name) }}" class="author_product_image" alt="{{ product.name }} par {{ author.name }}">
                            </div>
                            <div class="cart_product_infos_holder">
                                <h3>{{ product.name }}</h3>
                                <h4><b>PU</b>: {{ product.price|number_format(2) }} €</h4>
                            </div>
                        </div>
                        <div class="cart_product_quantity_holder">
                            <button class="cart_minus" id="{{ product.id }}_cart_minus">-</button>
                            <p>{{ quantity }}</p>
                            <button class="cart_plus" id="{{ product.id }}_cart_plus">+</button>
                        </div>
                        <p class="cart_product_total">{{ (product.price * quantity)|number_format(2) }} €</p>
                        <a href="{{ path('show_product', {id: product.id}) }}"><span>Fiche produit <i class="fa-solid fa-square-up-right"></i></span></a>
                    </article>
                {% endfor %}
                {% if cart|length < 4 and trendings|default %}
                    <section id="cart_product_suggestions_container">
                        <div id="cart_product_suggestions_resizer">
                            {# Trendings container #}
                            <div id="trendings_container" class="product_suggestions_scroller">
                                <div class="suggestions_title">
                                    <h2><i class="fa-solid fa-arrow-trend-up"></i> TENDANCES DE LA SEMAINE</h2>
                                </div>
                                <button class="btn-suggestions_nav suggestions-left"><i class="fa-solid fa-caret-left"></i></button>
                                {% for trending in trendings %}
                                    {% set imageName = trending.getImages ? trending.getImages[0].name : null %}
                                    <a href="{{ path('show_product', {id: trending.id}) }}" id="{{ trending.id }}_product" class="suggestion_container navto_container">
                                        <img src="{{ asset('images/products/' ~ trending.author.id ~ '/' ~ imageName) }}" class="suggestion_image" alt="{{ trending.name }} par {{ trending.author.name }}">
                                    </a>
                                {% endfor %}
                                <button class="btn-suggestions_nav suggestions-right"><i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                    </section>
                {% endif %}

            {# Si le panier est vide #}
            {% else %}
                <div id="cart_empty_container">
                    <p>{{ "cart.empty"|trans({}, 'messages') }}</p>
                    <a id="cart_empty_goto_products" href="{{ path('show_products') }}">{{ 'cart.empty_button'|trans({}, 'messages')  }}</a>
                </div>
            {% endif %}
        </section>

        {% if cart|length %}
            <section id="cart_payment_container">
                <div id="cart_payment_main">
                    <section id="cart_payment_total_container">
                        <div id="cart_payment_details">
                            <p>Nombre total d'articles : {{ sumProducts }}</p>
                            <small>(Inc. TVA 5.5% : <b>{{ (totalPrice * 5.5 / 100)|number_format(2) }} €</b>)</small>
                        </div>
                        <div id="cart_payment_shipping">
                            <p>Livraison offerte à domicile et en point relais</p>
                        </div>
                        <div id="cart_payment_total">
                            <span>TOTAL</span><span>{{ totalPrice|number_format(2) }}&nbsp€</span>
                        </div>
                    </section>
                    <section id="cart_payment_checkout">
                        <div id="cart_payment_buttons">
                            {% if user.id|default %}
                                <a href="{{ path('user_checkout_set_address') }}">Continuer</a>
                            {% else %}
                                <a href="{{ path('guest_checkout_set_address') }}">Payer en tant qu'invité</a><br>
                                <div class="separator_grey_light"></div>
                                <a href="{{ path('user_login') }}">Se connecter</a>
                            {% endif %}
                        </div>
                    </section>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock body %}

{% block javascripts %}
    {# Cart handler script #}
    {{ encore_entry_script_tags('cart') }}

    {# Suggestions script #}
    {{ encore_entry_script_tags('suggestions') }}
{% endblock %}