{% extends 'base.html.twig' %}

{% block pretitle %}PANIER{% endblock %}

{% block body %}
    <main id="cart">
        <section id="cart_products_container">
            {% if cart is not empty %}
                {% for index in cart %}
                    {% set product, quantity = index.product, index.quantity %}
                    {% set author, image = product.author, product.images[0] %}
                    <div class="cart_product" id="{{ product.id }}_cart_product">
                        <button class="cart_product_remove"><i class="fa-solid fa-trash-can"></i></button>
                        <div class="cart_product_image_infos">
                            <div class="cart_product_image_container">
                                <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ image.name) }}" class="author_product_image" alt="{{ product.name }} par {{ author.name }}">
                            </div>
                            <span class="cart_product_infos_holder">
                                <h3>{{ product.name }}</h3>
                                <h4><b>PU</b>: {{ product.price|number_format(2) }} €</h4>
                            </span>
                        </div>
                        <div class="cart_product_quantity_holder">
                            <button class="cart_minus" id="{{ product.id }}_cart_minus">-</button>
                            <p>{{ quantity }}</p>
                            <button class="cart_plus" id="{{ product.id }}_cart_plus">+</button>
                        </div>
                        <p class="cart_product_total">{{ (product.price * quantity)|number_format(2) }} €</p>
                        <a href="{{ path('show_product', {id: product.id}) }}"><span>Fiche produit <i class="fa-solid fa-square-up-right"></i></span></a>
                    </div>
                {% endfor %}
                {% if cart|length < 4 %}
                    <section id="cart_product_suggestions_container">
                        <div id="cart_product_suggestions_resizer">
                            {# Trendings container #}
                            <div id="trendings_container" class="product_suggestions_scroller">
                                <span class="suggestions_title">
                                    <h2><i class="fa-solid fa-arrow-trend-up"></i> TENDANCES DE LA SEMAINE</h2>
                                </span>
                                <button class="btn-suggestions_nav suggestions-left"><i class="fa-solid fa-caret-left"></i></button>
                                {% if trendings is not empty %}
                                    {% for trending in trendings %}
                                        {% set imageName = trending.getImages ? trending.getImages[0].name : null %}
                                        <a href="{{ path('show_product', {id: trending.id}) }}" id="{{ trending.id }}_product" class="suggestion_container navto_container">
                                            <img src="{{ asset('images/products/' ~ trending.author.id ~ '/' ~ imageName) }}" class="suggestion_image" alt="{{ trending.name }} par {{ trending.author.name }}">
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                <button class="btn-suggestions_nav suggestions-right"><i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% else %}
                <div id="cart_empty_container">
                    <p>{{ "cart.empty"|trans({}, 'messages') }}</p>
                    <a id="cart_empty_goto_products" href="{{ path('show_products') }}">{{ 'cart.empty_button'|trans({}, 'messages')  }}</a>
                </div>
            {% endif %}
        </section>
        {% if cart|length %}
            <section id="cart_payment_container">
                <div id="cart_payment_main">
                    <section id="cart_payment_total">
                        <p>TOTAL : <b>{{ totalPrice|number_format(2) }} €</b><br><small>(Inc. TVA 5.5% : <b>{{ (totalPrice * 5.5 / 100) }} €</b>)</small></p>
                    </section>
                    <section id="cart_payment_checkout">
                        {% if user.id|default %}
                            Payer
                        {% else %}
                            Payer en tant qu'invité
                            ou
                            Se connecter
                        {% endif %}
                    </section>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock body %}

{% block javascripts %}
    {# Cart handler script #}
    {{ encore_entry_script_tags('cart') }}

    {# Suggestions script #}
    {{ encore_entry_script_tags('suggestions') }}
{% endblock %}