{% extends 'base.html.twig' %}

{% block pretitle %}ACCUEIL{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="success">{{ flashMessage }}</div>
    {% endfor %}
    <main id="home">
        <section id="home_left_section">
            <div id="home_left_title">
                <h2>Minimal<span>SHOP</span></h2>
                <h3>Impression sur verre</h3>
            </div>
            <div id="home_left_shipping">
                <p>Livraison offerte sur tous les articles*</p>
            </div>
            <div id="home_left_description">
                <p>MinimalSHOP vous propose à la vente des oeuvres de professionnels reconnus dans l'industrie du jeu vidéo. Notre technique d'impression sur verre permet d'obtenir une qualité supérieure, faisant ressortir les détails et les contrastes des images.</p>
            </div>
            <div id="home_left_img">
                <img src="{{ asset('images/backgrounds/sw.jpg') }}" alt="ewok">
                <ul>
                    <li>> Sans frais de livraison</li>
                    <li>> Qualité supérieure</li>
                    <li>> Durabilité prouvée</li>
                    <li>> Artistes renommés</li>
                    <li>> Paiement sécurisé</li>
                </ul>
                <small id="home_left_conditions">
                    * Livraison offerte en point relais et à domicile pour tous les articles vendus et expédiés par MinimalSHOP à destination de la France Métropolitaine.
                </small>
            </div>
        </section>
        <section id="home_right_section">
            <article class="home_right_article_container" id="home_right_author_article">
                {% set imageName    = author.getLastProduct.Images[0].name|default %}
                <a href="{{ path('show_author', {id: author.id}) }}">Découvrir {{ author.name }}</a>
                <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ imageName) }}" alt="Image de l'artiste {{ author.name }}">
            </article>
            <article class="home_right_article_container" id="home_right_product_article">
                {% set currAuthor   = product.author %}
                {% set imageName    = product.Images[0].name|default %}
                <a href="{{ path('show_author', {id: currAuthor.id}) }}">Découvrir {{ currAuthor.name }}</a>
                <img src="{{ asset('images/products/' ~ currAuthor.id ~ '/' ~ imageName|default) }}" alt="Image de l'artiste {{ currAuthor.name }}">
            </article>
            <article class="home_right_article_container" id="home_right_sold_article">
                {% set currAuthor   = lastSoldProduct.author %}
                {% set imageName    = lastSoldProduct.Images[0].name|default %}
                <a href="{{ path('show_author', {id: currAuthor.id}) }}">Découvrir {{ currAuthor.name }}</a>
                <img src="{{ asset('images/products/' ~ currAuthor.id ~ '/' ~ imageName|default) }}" alt="Image de l'artiste {{ currAuthor.name }}">
            </article>
        </section>
    </main>
{% endblock body %}
