{% extends 'base.html.twig' %}

{% block pretitle %}ADRESSE DE LIVRAISON{% endblock %}

{% block body %}
    <main id="visitor_address">
        <h3>Saisissez votre adresse de livraison</h3>

        <section id="visitor_address_container">
            {% if errors|default %}
                <div class="form-errors">
                    {% for error in errors %}
                        <div class="form-error">
                            <i class="fa-solid fa-square"></i> {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form, {'attr': {'class': 'user_add_address'}}) }}
                <input type="submit" value="Valider">
            {{ form_end(form) }}

            <a class="back-btn" href="{{ app.request.headers.get('referer') }}">Retour</a>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}