{% extends 'base.html.twig' %}

{% block pretitle %}MON MOT DE PASSE{% endblock %}

{% block body %}
    <main id="modify_password">
        <div id="modify_password_header">
            <h3>MODIFICATION DU MOT DE PASSE</h3>
        </div>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="success">{{ flashMessage }}</div>
        {% endfor %}

        {{ form_start(form) }}
            {% for flashMessage in app.session.flashbag.get('failure') %}
                <div class="failure"><p>{{ flashMessage }}</p></div>
            {% endfor %}
            {{ form_widget(form) }}
            <input type="submit" value="Valider">
        {{ form_end(form) }}

        <a class="back-btn" href="{{ path('user_show_profile') }}">Retour</a>
    </main>
{% endblock body %}
