{% extends 'base.html.twig' %}

{% block pretitle %}{{ product.name|upper }}{% endblock %}

{% block body %}
    {% set author = product.author %}
    <main id="product">
        <section id="product_suggestions_container">
            <span class="backto_holder">
                <a href="{{ path('show_author', {id: author.id}) }}" class="btn-backto"><i class="fas fa-solid fa-caret-left"></i>  Revenir à l'artiste</a>
            </span>
            {# Suggestions container #}
            <div id="product_suggestions_resizer">

                {# Top sells container #}
                <div id="top_sells_container" class="product_suggestions_scroller">
                    <span class="suggestions_title">
                        <h2><i class="fa-solid fa-medal"></i> MEILLEURES VENTES</h2>
                    </span>
                    <button class="btn-suggestions_nav suggestions-left"><i class="fa-solid fa-caret-left"></i></button>
                    {% if topSells is not empty %}
                        {% for topSell in topSells %}
                            {% set imageName = topSell.getImages ? topSell.getImages[0].name : null %}
                            <a href="{{ path('show_product', {id: topSell.id}) }}" id="{{ topSell.id }}_product" class="suggestion_container navto_container">
                                <img src="{{ asset('images/products/' ~ topSell.author.id ~ '/' ~ imageName) }}" class="suggestion_image" alt="{{ topSell.name }} par {{ topSell.author.name }}">
                            </a>
                        {% endfor %}
                    {% endif %}
                    <button class="btn-suggestions_nav suggestions-right"><i class="fa-solid fa-caret-right"></i></button>
                </div>

                {# Trendings container #}
                <div id="trendings_container" class="product_suggestions_scroller">
                    <span class="suggestions_title">
                        <h2><i class="fa-solid fa-arrow-trend-up"></i> TENDANCES DE LA SEMAINE</h2>
                    </span>
                    <button class="btn-suggestions_nav suggestions-left"><i class="fa-solid fa-caret-left"></i></button>
                    {% if trendings is not empty %}
                        {% for trending in trendings %}
                            {% set imageName = trending.getImages ? trending.getImages[0].name : null %}
                            <a href="{{ path('show_product', {id: trending.id}) }}" id="{{ trending.id }}_product" class="suggestion_container navto_container">
                                <img src="{{ asset('images/products/' ~ trending.author.id ~ '/' ~ imageName) }}" class="suggestion_image" alt="{{ trending.name }} par {{ trending.author.name }}">
                            </a>
                        {% endfor %}
                    {% endif %}
                    <button class="btn-suggestions_nav suggestions-right"><i class="fa-solid fa-caret-right"></i></button>
                </div>

                {# Artist container #}
                <div id="author_products_container" class="product_suggestions_scroller">
                    <span class="suggestions_title">
                        <h2><i class="fa-solid fa-palette"></i> DU MÊME ARTISTE</h2>
                    </span>
                    <button class="btn-suggestions_nav suggestions-left"><i class="fa-solid fa-caret-left"></i></button>
                    {% if authorProducts is not empty %}
                        {% for authorProduct in authorProducts %}
                            {% set imageName = authorProduct.getImages ? authorProduct.getImages[0].name : null %}
                            <a href="{{ path('show_product', {id: authorProduct.id}) }}" id="{{ authorProduct.id }}_product" class="suggestion_container navto_container">
                                <img src="{{ asset('images/products/' ~ authorProduct.author.id ~ '/' ~ imageName) }}" class="suggestion_image" alt="{{ authorProduct.name }} par {{ authorProduct.author.name }}">
                            </a>
                        {% endfor %}
                    {% endif %}
                    <button class="btn-suggestions_nav suggestions-right"><i class="fa-solid fa-caret-right"></i></button>
                </div>
            </div>
        </section>

        {# Product's image container #}
        <section id="product_image_container">
            {% set imageName = product.getImages ? product.getImages[0].name : null %}
            <div class="product_image_resizer">
                <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ imageName) }}" class="product_image" alt="{{ product.name }} par {{ author.name }}">
            </div>
            <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ imageName) }}" class="product_image_hidden" alt="{{ product.name }} par {{ author.name }}">
        </section>

        {# Product's description container #}
        <section id="product_description_container">
            <div class="product_description_resizer">

                {# Product's text #}
                <div id="product_text">
                    <span id="product_title">
                        <h1>{{ product.name }}</h1>
                        <h3><a href="{{ path('show_author', {id: author.id}) }}">{{ author.name }}</a></h3>
                    </span>
                    <p>{{ product.description }}</p>
                </div>

                {# Product's price & cart button #}
                <div id="product_buy">
                    <div id="product_buy_group">
                        <p>{{ product.price|number_format(2, '.', ',') }} €</p>
                        <span id="product_buy_selector">
                            <button id="{{ product.id }}_buy_minus" class="buy_minus" disabled>-</button>
                            <span id="{{ product.id }}_buy_counter" class="buy_counter">1</span>
                            <button id="{{ product.id }}_buy_plus" class="buy_plus">+</button>
                        </span>
                        <button id="{{ product.id }}_add2cart" class="btn-cart_add"><i class="fa-solid fa-cart-arrow-down"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}

{% block javascripts %}
    {# Open product's image in another tab on click #}
    <script defer>
        let stock = "{{ product.stock }}"

        $(function() {
            $(document).on('click', '.product_image', function() {
                window.open($(this).attr('src'))
            })
        })
    </script>

    {# Cart handler script #}
    {{ encore_entry_script_tags('cart') }}

    {# Zoom on Hover script #}
    {{ encore_entry_script_tags('product_zoom_hover') }}

    {# Suggestions script #}
    {{ encore_entry_script_tags('suggestions') }}
{% endblock %}