{% extends 'base.html.twig' %}

{% block title %}PRODUITS | ADMINISTRATION{% endblock %}

{% block body %}
    <main id="admin_alt">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="success">{{ flashMessage }}</div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('failure') %}
            <div class="failure">{{ flashMessage }}</div>
        {% endfor %}

        {# Search triggers #}
        <div id="adm_search_container">
            <section id="adm_search_brand">
                <button type="submit" class="trigger_adm_search">Rechercher une marque</button>
            </section>
            <section id="adm_search_product">
                <button type="submit" class="trigger_adm_search">Rechercher un produit</button>
            </section>
            <section id="adm_search_discount">
                <button type="submit" class="trigger_adm_search">Rechercher une promotion</button>
            </section>
        </div>

        <div id="products">
            {# Affiche les promotions et les produits affectés #}
            <details id="discounts_det">
                <summary>Afficher les promotions</summary>
                {% if discounts is not empty %}
                    {% set discountCounter = 1 %}
                    {% for discount in discounts %}
                        <details id="discount_{{ discount.id }}" class="det_det">
                            <summary>
                                <div class="span_div">
                                    <i class="fas fa-caret-right"></i>
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_name">
                                    <h3>Promotion :</h3>
                                    <p>{{ discount.name }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_percentage">
                                    <h3>Pourcentage :</h3>
                                    <p>{{ discount.percentage }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_startingDate">
                                    <h3>Début :</h3>
                                    <p>{{ discount.startingDate|date("d/m/Y") }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_endingDate">
                                    <h3>Fin :</h3>
                                    <p>{{ discount.endingDate|date("d/m/Y") }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div">
                                    <a href="{{ path('admin_delete_discount', {id: discount.id}) }}">Supprimer la promotion</a>
                                </div>
                            </summary>
                            <div>
                                {% for product in discount.products %}
                                    <div id="discounts_{{ product.id }}" class="div_det">
                                        <button class="adm_delete_btn">x</button>
                                        <div id="product_{{ product.id }}" class="">
                                            <h3>Produit :</h3>
                                            <p>{{ product.name }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </details>
                    {% endfor %}
                {% endif %}
            </details>

            {# Affiche les marques #}
            <details id="brands_det">
                <summary>Afficher les marques</summary>
                {% if brands is not empty %}
                    {% for brand in brands %}
                        <div id="brand_{{ brand.id }}" class="div_det">
                            <button class="adm_delete_btn">x</button>
                            <div id="{{ brand.id ~ "_name"}}" class="name">
                                <h3>Marque :</h3>
                                <p>{{ brand.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ brand.id ~ "_description"}}" class="description">
                                <h3>Description :</h3>
                                <p>{{ brand.description }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ brand.id ~ "_active"}}" class="active">
                                <h3>Statut :</h3>
                                <button class="adm_modify_button">{{ brand.active ? 'Désactiver' : 'Activer' }}</button>
                            </div>
                            <a href="#" id="{{ brand.id ~ '_link'}}" class="show_products_by_brand">Afficher les produits</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </details>

            {# Affiche les produits #}
            <details id="products_det">
                <summary>Afficher les produits</summary>
                {% if products is not empty %}
                    {% for product in products %}
                        <div id="product_{{ product.id }}" class="div_det">
                            <button class="adm_delete_btn">x</button>
                            <div id="{{ product.id ~ '_brand'}}" class="brand_name">
                                <h4>Marque :</h4>
                                <p>{{ product.brand.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_name'}}" class="product_name">
                                <h4>Produit :</h4>
                                <p>{{ product.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_description'}}" class="description">
                                <h4>Description :</h4>
                                <p>{{ product.description }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_price'}}" class="price">
                                <h4>Prix :</h4>
                                <p>{{ product.price }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_stock'}}" class="stock">
                                <h4>Stock :</h4>
                                <p>{{ product.stock }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ "_active"}}" class="active">
                                <h3>Statut :</h3>
                                <button class="adm_modify_button">{{ product.active ? 'Désactiver' : 'Activer' }}</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </details>
        </div>

        {# Add Brand / Product / Discount containers #}
        <section id="add_discount_brand_product">
            <div id="add_brand" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'brand'}) }}" id="add_brand_btn" class="add_btn">+ Ajouter une marque</button>
                {# Render Form via Controller #}
            </div>
            <div id="add_product" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'product'}) }}" id="add_product_btn" class="add_btn">+ Ajouter un produit</button>
                {# Render Form via Controller #}

            </div>
            <div id="add_discount" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'discount'}) }}" id="add_discount_btn" class="add_btn">+ Ajouter une promotion</button>
                {# Render Form via Controller #}
            </div>
        </section>

        {# Brand's search results container #}
        <section id="search_brand_container" class="search_item_container">
            <div id="search_brand_box" class="search_item_box">
                <button id="search_brand_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_brand">
                <div class="search_results_box" id="search_results_brand">

                </div>
            </div>
        </section>

        {# Product's search results container #}
        <section id="search_product_container" class="search_item_container">
            <div id="search_product_box" class="search_item_box">
                <button id="search_product_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_product">
                <div class="search_results_box" id="search_results_product">

                </div>
            </div>
        </section>

        {# Discount's search results container #}
        <section id="search_discount_container" class="search_item_container">
            <div id="search_discount_box" class="search_item_box">
                <button id="search_discount_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_discount">
                <div class="search_results_box" id="search_results_discount">

                </div>
            </div>
        </section>

        <a href="{{ path('admin') }}" id="back_btn">Retour</a>
    </main>
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        window.searchPath   = "{{ path('admin_product_search') }}"
    </script>

    {# Search Bar script #}
    {{ encore_entry_script_tags('admin_products_searchbar') }}

    {# Add Modal script #}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}