{% extends 'base.html.twig' %}

{% block title %}PRODUITS | ADMINISTRATION{% endblock %}

{% block body %}
    <main id="admin_alt">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="success">{{ flashMessage }}</div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('failure') %}
            <div class="failure">{{ flashMessage }}</div>
        {% endfor %}

        {# Search triggers #}
        <div id="adm_search_container">
            <section id="adm_search_author">
                <button type="submit" class="trigger_adm_search">Rechercher un auteur</button>
            </section>
            <section id="adm_search_product">
                <button type="submit" class="trigger_adm_search">Rechercher un produit</button>
            </section>
            <section id="adm_search_discount">
                <button type="submit" class="trigger_adm_search">Rechercher une promotion</button>
            </section>
        </div>

        <div id="products">
            {# Affiche les promotions et les produits affectés #}
            <details id="discount_det">
                <summary>Afficher les promotions</summary>
                {% if discounts is not empty %}
                    {% for discount in discounts %}
                        <details id="discount_{{ discount.id }}" class="det_det">
                            <summary>
                                <div class="span_div">
                                    <i class="fas fa-caret-right"></i>
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_name_discount">
                                    <h3>Promotion :</h3>
                                    <p>{{ discount.name }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_percentage_discount">
                                    <h3>Pourcentage :</h3>
                                    <p>{{ discount.percentage }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_startingDate_discount">
                                    <h3>Début :</h3>
                                    <p>{{ discount.startingDate|date("d/m/Y") }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div" id="{{ discount.id }}_endingDate_discount">
                                    <h3>Fin :</h3>
                                    <p>{{ discount.endingDate|date("d/m/Y") }}</p>
                                    <button class="adm_modify_button">Modifier</button>
                                </div>
                                <div class="span_div">
                                    <a href="{{ path('admin_delete_discount', {id: discount.id}) }}">Supprimer la promotion</a>
                                </div>
                            </summary>
                            <div>
                                {% for product in discount.products %}
                                    <div id="discount_{{ product.id }}_delete_div" class="div_det">
                                        <a href="{{ path('admin_delete_discount_product', {discountId: discount.id, productId: product.id}) }}" class="adm_delete_btn" >x</a>
                                        <div id="product_{{ product.id }}_delete" class="">
                                            <h3>Produit :</h3>
                                            <p>{{ product.name }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </details>
                    {% endfor %}
                {% endif %}
            </details>

            {# Affiche les auteurs #}
            <details id="author_det">
                <summary>Afficher les auteurs</summary>
                {% if authors is not empty %}
                    {% for author in authors %}
                        <div id="author_{{ author.id }}" class="div_det">
                            <div id="{{ author.id ~ "_name_author"}}" class="name">
                                <h3>Auteur :</h3>
                                <p>{{ author.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ author.id ~ "_description_author"}}" class="description">
                                <h3>Description :</h3>
                                <p>{{ author.description }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ author.id ~ "_active_author"}}" class="active">
                                <h3>Statut :</h3>
                                <button class="adm_modify_button">{{ author.active ? 'Désactiver' : 'Activer' }}</button>
                            </div>
                            <a href="#" id="{{ author.id ~ '_link'}}" class="show_products_by_author">Afficher les produits</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </details>

            {# Affiche les produits #}
            <details id="product_det">
                <summary>Afficher les produits</summary>
                {% if products is not empty %}
                    {% for product in products %}
                        <div id="product_{{ product.id }}" class="div_det">
                            <div id="{{ product.id ~ '_author_product'}}" class="author_name">
                                <h4>Auteur :</h4>
                                <p>{{ product.author.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_name_product'}}" class="product_name">
                                <h4>Produit :</h4>
                                <p>{{ product.name }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_description_product'}}" class="description">
                                <h4>Description :</h4>
                                <p>{{ product.description }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_price_product'}}" class="price">
                                <h4>Prix :</h4>
                                <p>{{ product.price }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ '_stock_product'}}" class="stock">
                                <h4>Stock :</h4>
                                <p>{{ product.stock }}</p>
                                <button class="adm_modify_button">Modifier</button>
                            </div>
                            <div id="{{ product.id ~ "_active_product"}}" class="active">
                                <h3>Statut :</h3>
                                <button class="adm_modify_button">{{ product.active ? 'Désactiver' : 'Activer' }}</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </details>
        </div>

        {# Add Author / Product / Discount containers #}
        <section id="add_discount_author_product">
            <div id="add_author" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'author'}) }}" id="add_author_btn" class="add_btn">+ Ajouter un auteur</button>
                {# Render Form via Controller #}
            </div>
            <div id="add_product" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'product'}) }}" id="add_product_btn" class="add_btn">+ Ajouter un produit</button>
                {# Render Form via Controller #}
            </div>
            <div id="add_discount" class="add_container">
                <button href="{{ path('admin_add_item', {entity: 'discount'}) }}" id="add_discount_btn" class="add_btn">+ Ajouter une promotion</button>
                {# Render Form via Controller #}
            </div>
        </section>

        {# Author's search results container #}
        <section id="search_author_container" class="search_item_container">
            <div id="search_author_box" class="search_item_box">
                <button id="search_author_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_author">
                <div class="search_results_box" id="search_results_author">

                </div>
            </div>
        </section>

        {# Product's search results container #}
        <section id="search_product_container" class="search_item_container">
            <div id="search_product_box" class="search_item_box">
                <button id="search_product_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_product">
                <div class="search_results_box" id="search_results_product">

                </div>
            </div>
        </section>

        {# Discount's search results container #}
        <section id="search_discount_container" class="search_item_container">
            <div id="search_discount_box" class="search_item_box">
                <button id="search_discount_close_btn" class="search_close_btn"><i class="fas fa-chevron-down"></i></button>
                <input type="text" name="adm_search" class="adm_search_input" id="adm_search_input_discount">
                <div class="search_results_box" id="search_results_discount">

                </div>
            </div>
        </section>

        <a href="{{ path('admin') }}" id="back_btn">Retour</a>
    </main>
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        window.searchPath   = "{{ path('admin_product_search') }}"
        window.fetchAuthors  = "{{ path('admin_fetch_authors') }}"
        window.postEdit     = "{{ path('admin_edit_item') }}"
    </script>

    {# Search Bar script #}
    {{ encore_entry_script_tags('admin_products_searchbar') }}

    {# Add Modal script #}
    {{ encore_entry_script_tags('modal') }}

    {# Dynamic Edit script #}
    {{ encore_entry_script_tags('admin_dynamic_edit') }}
{% endblock %}