{% extends 'base.html.twig' %}

{% block pretitle %}INSCRIPTION{% endblock %}

{% block body %}
    <main id="inscription">
        <div id="inscription_header">
            <h3>INSCRIPTION</h3>
            <h4>Déjà inscrit ? <a href="{{ path('user_login') }}">CONNEXION</a></h4>
        </div>

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="warning">{{ flashMessage }}</div>
        {% endfor %}

        {% if errors %}
            <div class="form-errors">
                {% for error in errors %}
                    <div class="form-error">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Valider">
        {{ form_end(form) }}
    </main>
{% endblock %}