{% extends 'base.html.twig' %}

{% block pretitle %}RÉINITIALISATION DU MOT DE PASSE{% endblock %}

{% block body %}
    <main id="reset_password">
        <div id="reset_password_header">
            <h3>Nouveau mot de passe</h3>
        </div>

        {% if errors|default %}
            <div class="form-errors">
                {% for error in errors %}
                    <div class="form-error">
                        <i class="fa-solid fa-square"></i> {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(resetForm) }}
            {{ form_widget(resetForm) }}
            <input type="submit" value="Valider">
        {{ form_end(resetForm) }}

        <a class="back-btn" href="{{ path('home') }}">Annuler</a>
    </main>
{% endblock %}
