{% extends 'base.html.twig' %}

{% block pretitle %}CONNEXION{% endblock %}

{% block body %}
    <main id="reset_password">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Valider">
        {{ form_end(form) }}

        <a class="back-btn" href="{{ path('home') }}">Retour</a>
    </main>
{% endblock %}

{% block javascripts %}
    <script defer>
        {# Affiche les erreurs récupérées après formatage #}
        {% for key, message in sortedErrors %}
            $("#{{ key }}").parent().append("<div class='sorted-error'>{{ message }}</div>")
        {% endfor %}
    </script>
{% endblock %}
