{% extends 'base.html.twig' %}

{% block pretitle %}PROFIL{% endblock %}

{% block body %}
    <main id="profile">
        <section id="landing">
            <div id="landing_titles">
                <h2>Bonjour {{ user.firstName }}</h2>
                <a href="{{ path("user_logout") }}">Se déconnecter</a>
            </div>
            <div id="landing_content">
                <a href="{{ path('user_edit_password') }}">Modifier mon mot de passe</a>
                <a href="{{ path('user_show_addresses') }}">Mes adresses</a>
                <a href="{{ path('user_show_orders') }}">Mes commandes</a>
                <a href="{{ path('user_delete_account') }}">Supprimer mon compte</a>
            </div>
        </section>
    </main>
{% endblock body %}
